.curriculum-card-container {
    width: 32.6%;
    height: px2Rem(300px);
    box-sizing: border-box;
    margin-right: 1%;
    margin-bottom: px2Rem(5px);
    &:nth-child(3n + 3) {
        margin-right: 0;
    }
    .ant-typography {
        margin-bottom: 0;
    }
    .top {
        width: 100%;
        height: 33%;
        .ant-image {
            width: 100%;
            height: 100%;
            .ant-image-img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .mid {
        height: 52%;
        .id {
        }
        .title {
        }
    }
    .bot {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        height: 15%;
    }
}
